/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  body {
    margin: 0;
  } 

.NavHover  hover{
    color : black;
    cursor : pointer;
  }

.NavHover{
    display : flex ;
     align-items : center;
     justify-content : center
}

.postbtn {
    background-color:  green;
}
.postbtn:hover{
    background-color : grey;
}