@import "../styles/globals.css";

#dropdown{
    position: relative;
    display : inline-block
}

#dropbtn{

}

#dropdown-content{
    display : none;
    position : absolute;
    background-color: green;
    min-width: 160px;
    z-index : 1
}

#dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  
  #dropdown-content a:hover {
    background-color: red;
  }
  
  /* KEY PART */
  #dropdown:hover .dropdown-content {
    display: block;
  }